

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [MAIN] auto [RIBBON] 24% [END];
    grid-template-rows: [TIMEBAR] 65px [CONTENT] auto [END];
}