/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap'); */

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [MAIN] auto [RIBBON] 24% [END];
    grid-template-rows: [TIMEBAR] 65px [CONTENT] auto [END];
}

.canvas {
    grid-row: CONTENT / END;
}


/* ROUTE CIRCLE */
.route {
    justify-self: center;
    display: flex;
    width: auto;
    height: auto;
}

.circle {
    border-radius: 50%;
    width: inherit;
    height: inherit;
}

.route_number {
    margin: 0;
    width: inherit;
    align-self: baseline;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    /* transform: translateY(-15%); */
}

.side_bg {
    /* container-placement */
    grid-column: RIBBON / END;
    grid-row: CONTENT / END;

    /* content-layout */
    display: grid;
    height: auto;
    width: auto;

    /* content-properties */
    background: grey;
}

#route_main {
    width: 340px;
    height: 340px;
    align-self: center;
}

#route_side {
    width: 210px;
    height: 210px;
    align-self: center;
}

#route_main_number {
    font-size: 15vw;
    color: white;
}

#route_side_number {
    font-size: 9vw;
    color: #353535;
}

#side_circle {
    background: lightgrey;
}





/* TIME BAR */
#timebar {
    display: inline-flex;
    grid-column: MAIN / END;
    grid-row: TIMEBAR / CONTENT;
    background: black;
    color: white;
    padding: 2px 0 0 20px;
    text-align: center;
    font-size: 38px;
}

#currentTime {
    margin: 2px 0 0 5px;
    align-self: baseline;
    text-align: center;
    font-size: 38px;
}

.rightSideDate {
    align-content: flex-end;
    
}

#day {

}

#date {

}